/* PlayOff Styles */

.round_column {
  padding: 10px 5px;
  box-shadow: 0 -3px 0 rgba(0, 0, 0, 0.07);
}

.r_8 .match_container {
  padding: 50px 0;
}

.match_unit {
  position: relative;
}

.match_unit .m_segment {
  border-right: solid 2px grey;
}

.match_unit .m_top,
.match_unit .m_bottom {
  position: relative;
  width: 100%;
}

.r_8 .m_segment {
  height: 80px;
}

.match_unit:after {
  position: absolute;
  content: "";
  width: 15px;
  height: 2px;
  background-color: grey;
  top: 50%;
  right: -13px;
}

.match_unit .m_top span {
  top: 0;
}
